.home-avatar {
  text-align: center;
  margin: 1rem 0;
}

.home-avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #f0f0f0;
  transition: transform 0.3s ease;
}

.home-avatar img:hover {
  transform: rotate(5deg) scale(1.25);
}
