{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
	<div class="home-avatar">
     <img src="{{.avatar}}" alt="小碗" />
     </div>
	 <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=150 height=40 src="https://music.163.com/outchain/player?type=2&id=466247137&auto=1&height=32"></iframe>
</article>
{{- end -}}
